.bg-bank-note-1 {
  background-image: url('/covers/bank-note/bank-note-1.svg');
}

.bg-bank-note-2 {
  background-image: url('/covers/bank-note/bank-note-2.svg');
}

.bg-bank-note-3 {
  background-image: url('/covers/bank-note/bank-note-3.svg');
}

.bg-bank-note-4 {
  background-image: url('/covers/bank-note/bank-note-4.svg');
}

.bg-bank-note-5 {
  background-image: url('/covers/bank-note/bank-note-5.svg');
}

.bg-bank-note-6 {
  background-image: url('/covers/bank-note/bank-note-6.svg');
}

.bg-bank-note-7 {
  background-image: url('/covers/bank-note/bank-note-7.svg');
}

.bg-bank-note-8 {
  background-image: url('/covers/bank-note/bank-note-8.svg');
}

.bg-bank-note-9 {
  background-image: url('/covers/bank-note/bank-note-9.svg');
}

.bg-bank-note-10 {
  background-image: url('/covers/bank-note/bank-note-10.svg');
}
