.bg-bricks-1 {
  background-image: url('/covers/bricks/bricks-1.svg');
}

.bg-bricks-2 {
  background-image: url('/covers/bricks/bricks-2.svg');
}

.bg-bricks-3 {
  background-image: url('/covers/bricks/bricks-3.svg');
}

.bg-bricks-4 {
  background-image: url('/covers/bricks/bricks-4.svg');
}

.bg-bricks-5 {
  background-image: url('/covers/bricks/bricks-5.svg');
}

.bg-bricks-6 {
  background-image: url('/covers/bricks/bricks-6.svg');
}

.bg-bricks-7 {
  background-image: url('/covers/bricks/bricks-7.svg');
}

.bg-bricks-8 {
  background-image: url('/covers/bricks/bricks-8.svg');
}

.bg-bricks-9 {
  background-image: url('/covers/bricks/bricks-9.svg');
}

.bg-bricks-10 {
  background-image: url('/covers/bricks/bricks-10.svg');
}
