.bg-bubbles-1 {
  background-image: url('/covers/bubbles/bubbles-1.svg');
}

.bg-bubbles-2 {
  background-image: url('/covers/bubbles/bubbles-2.svg');
}

.bg-bubbles-3 {
  background-image: url('/covers/bubbles/bubbles-3.svg');
}

.bg-bubbles-4 {
  background-image: url('/covers/bubbles/bubbles-4.svg');
}

.bg-bubbles-5 {
  background-image: url('/covers/bubbles/bubbles-5.svg');
}

.bg-bubbles-6 {
  background-image: url('/covers/bubbles/bubbles-6.svg');
}

.bg-bubbles-7 {
  background-image: url('/covers/bubbles/bubbles-7.svg');
}

.bg-bubbles-8 {
  background-image: url('/covers/bubbles/bubbles-8.svg');
}

.bg-bubbles-9 {
  background-image: url('/covers/bubbles/bubbles-9.svg');
}

.bg-bubbles-10 {
  background-image: url('/covers/bubbles/bubbles-10.svg');
}
