.bg-circles-1 {
  background-image: url('/covers/circles/circles-1.svg');
}

.bg-circles-2 {
  background-image: url('/covers/circles/circles-2.svg');
}

.bg-circles-3 {
  background-image: url('/covers/circles/circles-3.svg');
}

.bg-circles-4 {
  background-image: url('/covers/circles/circles-4.svg');
}

.bg-circles-5 {
  background-image: url('/covers/circles/circles-5.svg');
}

.bg-circles-6 {
  background-image: url('/covers/circles/circles-6.svg');
}

.bg-circles-7 {
  background-image: url('/covers/circles/circles-7.svg');
}

.bg-circles-8 {
  background-image: url('/covers/circles/circles-8.svg');
}

.bg-circles-9 {
  background-image: url('/covers/circles/circles-9.svg');
}

.bg-circles-10 {
  background-image: url('/covers/circles/circles-10.svg');
}
