.bg-cross-1 {
  background-image: url('/covers/cross/cross-1.svg');
}

.bg-cross-2 {
  background-image: url('/covers/cross/cross-2.svg');
}

.bg-cross-3 {
  background-image: url('/covers/cross/cross-3.svg');
}

.bg-cross-4 {
  background-image: url('/covers/cross/cross-4.svg');
}

.bg-cross-5 {
  background-image: url('/covers/cross/cross-5.svg');
}

.bg-cross-6 {
  background-image: url('/covers/cross/cross-6.svg');
}

.bg-cross-7 {
  background-image: url('/covers/cross/cross-7.svg');
}

.bg-cross-8 {
  background-image: url('/covers/cross/cross-8.svg');
}

.bg-cross-9 {
  background-image: url('/covers/cross/cross-9.svg');
}

.bg-cross-10 {
  background-image: url('/covers/cross/cross-10.svg');
}
