.bg-diamonds-1 {
  background-image: url('/covers/diamonds/diamonds-1.svg');
  background-size: cover;
}

.bg-diamonds-2 {
  background-image: url('/covers/diamonds/diamonds-2.svg');
  background-size: cover;
}

.bg-diamonds-3 {
  background-image: url('/covers/diamonds/diamonds-3.svg');
  background-size: cover;
}

.bg-diamonds-4 {
  background-image: url('/covers/diamonds/diamonds-4.svg');
  background-size: cover;
}

.bg-diamonds-5 {
  background-image: url('/covers/diamonds/diamonds-5.svg');
  background-size: cover;
}

.bg-diamonds-6 {
  background-image: url('/covers/diamonds/diamonds-6.svg');
  background-size: cover;
}

.bg-diamonds-7 {
  background-image: url('/covers/diamonds/diamonds-7.svg');
  background-size: cover;
}

.bg-diamonds-8 {
  background-image: url('/covers/diamonds/diamonds-8.svg');
  background-size: cover;
}

.bg-diamonds-9 {
  background-image: url('/covers/diamonds/diamonds-9.svg');
  background-size: cover;
}

.bg-diamonds-10 {
  background-image: url('/covers/diamonds/diamonds-10.svg');
  background-size: cover;
}
