.bg-domino-1 {
  background-image: url('/covers/domino/domino-1.svg');
}

.bg-domino-2 {
  background-image: url('/covers/domino/domino-2.svg');
}

.bg-domino-3 {
  background-image: url('/covers/domino/domino-3.svg');
}

.bg-domino-4 {
  background-image: url('/covers/domino/domino-4.svg');
}

.bg-domino-5 {
  background-image: url('/covers/domino/domino-5.svg');
}

.bg-domino-6 {
  background-image: url('/covers/domino/domino-6.svg');
}

.bg-domino-7 {
  background-image: url('/covers/domino/domino-7.svg');
}

.bg-domino-8 {
  background-image: url('/covers/domino/domino-8.svg');
}

.bg-domino-9 {
  background-image: url('/covers/domino/domino-9.svg');
}

.bg-domino-10 {
  background-image: url('/covers/domino/domino-10.svg');
}
