.bg-dots-1 {
  background-image: url('/covers/dots/dots-1.svg');
}

.bg-dots-2 {
  background-image: url('/covers/dots/dots-2.svg');
}

.bg-dots-3 {
  background-image: url('/covers/dots/dots-3.svg');
}

.bg-dots-4 {
  background-image: url('/covers/dots/dots-4.svg');
}

.bg-dots-5 {
  background-image: url('/covers/dots/dots-5.svg');
}

.bg-dots-6 {
  background-image: url('/covers/dots/dots-6.svg');
}

.bg-dots-7 {
  background-image: url('/covers/dots/dots-7.svg');
}

.bg-dots-8 {
  background-image: url('/covers/dots/dots-8.svg');
}

.bg-dots-9 {
  background-image: url('/covers/dots/dots-9.svg');
}

.bg-dots-10 {
  background-image: url('/covers/dots/dots-10.svg');
}
