.bg-hexagons-1 {
  background-image: url('/covers/hexagons/hexagons-1.svg');
}

.bg-hexagons-2 {
  background-image: url('/covers/hexagons/hexagons-2.svg');
}

.bg-hexagons-3 {
  background-image: url('/covers/hexagons/hexagons-3.svg');
}

.bg-hexagons-4 {
  background-image: url('/covers/hexagons/hexagons-4.svg');
}

.bg-hexagons-5 {
  background-image: url('/covers/hexagons/hexagons-5.svg');
}

.bg-hexagons-6 {
  background-image: url('/covers/hexagons/hexagons-6.svg');
}

.bg-hexagons-7 {
  background-image: url('/covers/hexagons/hexagons-7.svg');
}

.bg-hexagons-8 {
  background-image: url('/covers/hexagons/hexagons-8.svg');
}

.bg-hexagons-9 {
  background-image: url('/covers/hexagons/hexagons-9.svg');
}

.bg-hexagons-10 {
  background-image: url('/covers/hexagons/hexagons-10.svg');
}
