.bg-jigsaw-1 {
  background-image: url('/covers/jigsaw/jigsaw-1.svg');
}

.bg-jigsaw-2 {
  background-image: url('/covers/jigsaw/jigsaw-2.svg');
}

.bg-jigsaw-3 {
  background-image: url('/covers/jigsaw/jigsaw-3.svg');
}

.bg-jigsaw-4 {
  background-image: url('/covers/jigsaw/jigsaw-4.svg');
}

.bg-jigsaw-5 {
  background-image: url('/covers/jigsaw/jigsaw-5.svg');
}

.bg-jigsaw-6 {
  background-image: url('/covers/jigsaw/jigsaw-6.svg');
}

.bg-jigsaw-7 {
  background-image: url('/covers/jigsaw/jigsaw-7.svg');
}

.bg-jigsaw-8 {
  background-image: url('/covers/jigsaw/jigsaw-8.svg');
}

.bg-jigsaw-9 {
  background-image: url('/covers/jigsaw/jigsaw-9.svg');
}

.bg-jigsaw-10 {
  background-image: url('/covers/jigsaw/jigsaw-10.svg');
}
