.bg-jupiter-1 {
  background-image: url('/covers/jupiter/jupiter-1.svg');
  background-size: cover;
}

.bg-jupiter-2 {
  background-image: url('/covers/jupiter/jupiter-2.svg');
  background-size: cover;
}

.bg-jupiter-3 {
  background-image: url('/covers/jupiter/jupiter-3.svg');
  background-size: cover;
}

.bg-jupiter-4 {
  background-image: url('/covers/jupiter/jupiter-4.svg');
  background-size: cover;
}

.bg-jupiter-5 {
  background-image: url('/covers/jupiter/jupiter-5.svg');
  background-size: cover;
}

.bg-jupiter-6 {
  background-image: url('/covers/jupiter/jupiter-6.svg');
  background-size: cover;
}

.bg-jupiter-7 {
  background-image: url('/covers/jupiter/jupiter-7.svg');
  background-size: cover;
}

.bg-jupiter-8 {
  background-image: url('/covers/jupiter/jupiter-8.svg');
  background-size: cover;
}

.bg-jupiter-9 {
  background-image: url('/covers/jupiter/jupiter-9.svg');
  background-size: cover;
}

.bg-jupiter-10 {
  background-image: url('/covers/jupiter/jupiter-10.svg');
  background-size: cover;
}
