.bg-leafs-1 {
  background-image: url('/covers/leafs/leafs-1.svg');
  background-size: cover;
}

.bg-leafs-2 {
  background-image: url('/covers/leafs/leafs-2.svg');
  background-size: cover;
}

.bg-leafs-3 {
  background-image: url('/covers/leafs/leafs-3.svg');
  background-size: cover;
}

.bg-leafs-4 {
  background-image: url('/covers/leafs/leafs-4.svg');
  background-size: cover;
}

.bg-leafs-5 {
  background-image: url('/covers/leafs/leafs-5.svg');
  background-size: cover;
}

.bg-leafs-6 {
  background-image: url('/covers/leafs/leafs-6.svg');
  background-size: cover;
}

.bg-leafs-7 {
  background-image: url('/covers/leafs/leafs-7.svg');
  background-size: cover;
}

.bg-leafs-8 {
  background-image: url('/covers/leafs/leafs-8.svg');
  background-size: cover;
}

.bg-leafs-9 {
  background-image: url('/covers/leafs/leafs-9.svg');
  background-size: cover;
}

.bg-leafs-10 {
  background-image: url('/covers/leafs/leafs-10.svg');
  background-size: cover;
}
