.bg-melt-1 {
  background-image: url('/covers/melt/melt-1.svg');
}

.bg-melt-2 {
  background-image: url('/covers/melt/melt-2.svg');
}

.bg-melt-3 {
  background-image: url('/covers/melt/melt-3.svg');
}

.bg-melt-4 {
  background-image: url('/covers/melt/melt-4.svg');
}

.bg-melt-5 {
  background-image: url('/covers/melt/melt-5.svg');
}

.bg-melt-6 {
  background-image: url('/covers/melt/melt-6.svg');
}

.bg-melt-7 {
  background-image: url('/covers/melt/melt-7.svg');
}

.bg-melt-8 {
  background-image: url('/covers/melt/melt-8.svg');
}

.bg-melt-9 {
  background-image: url('/covers/melt/melt-9.svg');
}

.bg-melt-10 {
  background-image: url('/covers/melt/melt-10.svg');
}
