.bg-squares-1 {
  background-image: url('/covers/squares/squares-1.svg');
}

.bg-squares-2 {
  background-image: url('/covers/squares/squares-2.svg');
}

.bg-squares-3 {
  background-image: url('/covers/squares/squares-3.svg');
}

.bg-squares-4 {
  background-image: url('/covers/squares/squares-4.svg');
}

.bg-squares-5 {
  background-image: url('/covers/squares/squares-5.svg');
}

.bg-squares-6 {
  background-image: url('/covers/squares/squares-6.svg');
}

.bg-squares-7 {
  background-image: url('/covers/squares/squares-7.svg');
}

.bg-squares-8 {
  background-image: url('/covers/squares/squares-8.svg');
}

.bg-squares-9 {
  background-image: url('/covers/squares/squares-9.svg');
}

.bg-squares-10 {
  background-image: url('/covers/squares/squares-10.svg');
}
