.bg-stripes-1 {
  background-image: url('/covers/stripes/stripes-1.svg');
}

.bg-stripes-2 {
  background-image: url('/covers/stripes/stripes-2.svg');
}

.bg-stripes-3 {
  background-image: url('/covers/stripes/stripes-3.svg');
}

.bg-stripes-4 {
  background-image: url('/covers/stripes/stripes-4.svg');
}

.bg-stripes-5 {
  background-image: url('/covers/stripes/stripes-5.svg');
}

.bg-stripes-6 {
  background-image: url('/covers/stripes/stripes-6.svg');
}

.bg-stripes-7 {
  background-image: url('/covers/stripes/stripes-7.svg');
}

.bg-stripes-8 {
  background-image: url('/covers/stripes/stripes-8.svg');
}

.bg-stripes-9 {
  background-image: url('/covers/stripes/stripes-9.svg');
}

.bg-stripes-10 {
  background-image: url('/covers/stripes/stripes-10.svg');
}
