.bg-tic-tac-toe-1 {
  background-image: url('/covers/tic-tac-toe/tic-tac-toe-1.svg');
}

.bg-tic-tac-toe-2 {
  background-image: url('/covers/tic-tac-toe/tic-tac-toe-2.svg');
}

.bg-tic-tac-toe-3 {
  background-image: url('/covers/tic-tac-toe/tic-tac-toe-3.svg');
}

.bg-tic-tac-toe-4 {
  background-image: url('/covers/tic-tac-toe/tic-tac-toe-4.svg');
}

.bg-tic-tac-toe-5 {
  background-image: url('/covers/tic-tac-toe/tic-tac-toe-5.svg');
}

.bg-tic-tac-toe-6 {
  background-image: url('/covers/tic-tac-toe/tic-tac-toe-6.svg');
}

.bg-tic-tac-toe-7 {
  background-image: url('/covers/tic-tac-toe/tic-tac-toe-7.svg');
}

.bg-tic-tac-toe-8 {
  background-image: url('/covers/tic-tac-toe/tic-tac-toe-8.svg');
}

.bg-tic-tac-toe-9 {
  background-image: url('/covers/tic-tac-toe/tic-tac-toe-9.svg');
}

.bg-tic-tac-toe-10 {
  background-image: url('/covers/tic-tac-toe/tic-tac-toe-10.svg');
}
