.bg-triangles-1 {
  background-image: url('/covers/triangles/triangles-1.svg');
  background-size: cover;
}

.bg-triangles-2 {
  background-image: url('/covers/triangles/triangles-2.svg');
  background-size: cover;
}

.bg-triangles-3 {
  background-image: url('/covers/triangles/triangles-3.svg');
  background-size: cover;
}

.bg-triangles-4 {
  background-image: url('/covers/triangles/triangles-4.svg');
  background-size: cover;
}

.bg-triangles-5 {
  background-image: url('/covers/triangles/triangles-5.svg');
  background-size: cover;
}

.bg-triangles-6 {
  background-image: url('/covers/triangles/triangles-6.svg');
  background-size: cover;
}

.bg-triangles-7 {
  background-image: url('/covers/triangles/triangles-7.svg');
  background-size: cover;
}

.bg-triangles-8 {
  background-image: url('/covers/triangles/triangles-8.svg');
  background-size: cover;
}

.bg-triangles-9 {
  background-image: url('/covers/triangles/triangles-9.svg');
  background-size: cover;
}

.bg-triangles-10 {
  background-image: url('/covers/triangles/triangles-10.svg');
  background-size: cover;
}
