.bg-yyy-1 {
  background-image: url('/covers/yyy/yyy-1.svg');
}

.bg-yyy-2 {
  background-image: url('/covers/yyy/yyy-2.svg');
}

.bg-yyy-3 {
  background-image: url('/covers/yyy/yyy-3.svg');
}

.bg-yyy-4 {
  background-image: url('/covers/yyy/yyy-4.svg');
}

.bg-yyy-5 {
  background-image: url('/covers/yyy/yyy-5.svg');
}

.bg-yyy-6 {
  background-image: url('/covers/yyy/yyy-6.svg');
}

.bg-yyy-7 {
  background-image: url('/covers/yyy/yyy-7.svg');
}

.bg-yyy-8 {
  background-image: url('/covers/yyy/yyy-8.svg');
}

.bg-yyy-9 {
  background-image: url('/covers/yyy/yyy-9.svg');
}

.bg-yyy-10 {
  background-image: url('/covers/yyy/yyy-10.svg');
}
