.bg-autumn-1 {
  background-image: url('/covers/autumn/autumn-1.svg');
  background-size: cover;
}

.bg-autumn-2 {
  background-image: url('/covers/autumn/autumn-2.svg');
  background-size: cover;
}

.bg-autumn-3 {
  background-image: url('/covers/autumn/autumn-3.svg');
  background-size: cover;
}

.bg-autumn-4 {
  background-image: url('/covers/autumn/autumn-4.svg');
  background-size: cover;
}

.bg-autumn-5 {
  background-image: url('/covers/autumn/autumn-5.svg');
  background-size: cover;
}

.bg-autumn-6 {
  background-image: url('/covers/autumn/autumn-6.svg');
  background-size: cover;
}

.bg-autumn-7 {
  background-image: url('/covers/autumn/autumn-7.svg');
  background-size: cover;
}

.bg-autumn-8 {
  background-image: url('/covers/autumn/autumn-8.svg');
  background-size: cover;
}

.bg-autumn-9 {
  background-image: url('/covers/autumn/autumn-9.svg');
  background-size: cover;
}
