.bg-breeze-1 {
  background-image: url('/covers/breeze/breeze-1.svg');
  background-size: cover;
}

.bg-breeze-2 {
  background-image: url('/covers/breeze/breeze-2.svg');
  background-size: cover;
}

.bg-breeze-3 {
  background-image: url('/covers/breeze/breeze-3.svg');
  background-size: cover;
}

.bg-breeze-4 {
  background-image: url('/covers/breeze/breeze-4.svg');
  background-size: cover;
}

.bg-breeze-5 {
  background-image: url('/covers/breeze/breeze-5.svg');
  background-size: cover;
}

.bg-breeze-6 {
  background-image: url('/covers/breeze/breeze-6.svg');
  background-size: cover;
}

.bg-breeze-7 {
  background-image: url('/covers/breeze/breeze-7.svg');
  background-size: cover;
}

.bg-breeze-8 {
  background-image: url('/covers/breeze/breeze-8.svg');
  background-size: cover;
}

.bg-breeze-9 {
  background-image: url('/covers/breeze/breeze-9.svg');
  background-size: cover;
}
