.bg-cage-1 {
  background-image: url('/covers/cage/cage-1.svg');
  background-size: cover;
}

.bg-cage-2 {
  background-image: url('/covers/cage/cage-2.svg');
  background-size: cover;
}

.bg-cage-3 {
  background-image: url('/covers/cage/cage-3.svg');
  background-size: cover;
}

.bg-cage-4 {
  background-image: url('/covers/cage/cage-4.svg');
  background-size: cover;
}

.bg-cage-5 {
  background-image: url('/covers/cage/cage-5.svg');
  background-size: cover;
}

.bg-cage-6 {
  background-image: url('/covers/cage/cage-6.svg');
  background-size: cover;
}

.bg-cage-7 {
  background-image: url('/covers/cage/cage-7.svg');
  background-size: cover;
}

.bg-cage-8 {
  background-image: url('/covers/cage/cage-8.svg');
  background-size: cover;
}

.bg-cage-9 {
  background-image: url('/covers/cage/cage-9.svg');
  background-size: cover;
}

.bg-cage-10 {
  background-image: url('/covers/cage/cage-10.svg');
  background-size: cover;
}

.bg-cage-11 {
  background-image: url('/covers/cage/cage-11.svg');
  background-size: cover;
}

.bg-cage-12 {
  background-image: url('/covers/cage/cage-12.svg');
  background-size: cover;
}

.bg-cage-13 {
  background-image: url('/covers/cage/cage-13.svg');
  background-size: cover;
}

.bg-cage-14 {
  background-image: url('/covers/cage/cage-14.svg');
  background-size: cover;
}

.bg-cage-15 {
  background-image: url('/covers/cage/cage-15.svg');
  background-size: cover;
}

.bg-cage-16 {
  background-image: url('/covers/cage/cage-16.svg');
  background-size: cover;
}

.bg-cage-17 {
  background-image: url('/covers/cage/cage-17.svg');
  background-size: cover;
}

.bg-cage-18 {
  background-image: url('/covers/cage/cage-18.svg');
  background-size: cover;
}

.bg-cage-19 {
  background-image: url('/covers/cage/cage-19.svg');
  background-size: cover;
}

.bg-cage-20 {
  background-image: url('/covers/cage/cage-20.svg');
  background-size: cover;
}

.bg-cage-21 {
  background-image: url('/covers/cage/cage-21.svg');
  background-size: cover;
}

.bg-cage-22 {
  background-image: url('/covers/cage/cage-22.svg');
  background-size: cover;
}

.bg-cage-23 {
  background-image: url('/covers/cage/cage-23.svg');
  background-size: cover;
}

.bg-cage-24 {
  background-image: url('/covers/cage/cage-24.svg');
  background-size: cover;
}
