.bg-cage-1 {
  background-image: url('/covers/cage/cage-1.svg');
  background-size: cover;
}

.bg-cage-2 {
  background-image: url('/covers/cage/cage-2.svg');
  background-size: cover;
}

.bg-cage-3 {
  background-image: url('/covers/cage/cage-3.svg');
  background-size: cover;
}

.bg-cage-4 {
  background-image: url('/covers/cage/cage-4.svg');
  background-size: cover;
}

.bg-cage-5 {
  background-image: url('/covers/cage/cage-5.svg');
  background-size: cover;
}

.bg-cage-6 {
  background-image: url('/covers/cage/cage-6.svg');
  background-size: cover;
}

.bg-cage-7 {
  background-image: url('/covers/cage/cage-7.svg');
  background-size: cover;
}

.bg-cage-8 {
  background-image: url('/covers/cage/cage-8.svg');
  background-size: cover;
}

.bg-cage-9 {
  background-image: url('/covers/cage/cage-9.svg');
  background-size: cover;
}
