.bg-circle-1 {
  background-image: url('/covers/circle/circle-1.svg');
  background-size: cover;
}

.bg-circle-2 {
  background-image: url('/covers/circle/circle-2.svg');
  background-size: cover;
}

.bg-circle-3 {
  background-image: url('/covers/circle/circle-3.svg');
  background-size: cover;
}

.bg-circle-4 {
  background-image: url('/covers/circle/circle-4.svg');
  background-size: cover;
}

.bg-circle-5 {
  background-image: url('/covers/circle/circle-5.svg');
  background-size: cover;
}

.bg-circle-6 {
  background-image: url('/covers/circle/circle-6.svg');
  background-size: cover;
}

.bg-circle-7 {
  background-image: url('/covers/circle/circle-7.svg');
  background-size: cover;
}

.bg-circle-8 {
  background-image: url('/covers/circle/circle-8.svg');
  background-size: cover;
}

.bg-circle-9 {
  background-image: url('/covers/circle/circle-9.svg');
  background-size: cover;
}

.bg-circle-10 {
  background-image: url('/covers/circle/circle-10.svg');
  background-size: cover;
}

.bg-circle-11 {
  background-image: url('/covers/circle/circle-11.svg');
  background-size: cover;
}

.bg-circle-12 {
  background-image: url('/covers/circle/circle-12.svg');
  background-size: cover;
}

.bg-circle-13 {
  background-image: url('/covers/circle/circle-13.svg');
  background-size: cover;
}

.bg-circle-14 {
  background-image: url('/covers/circle/circle-14.svg');
  background-size: cover;
}

.bg-circle-15 {
  background-image: url('/covers/circle/circle-15.svg');
  background-size: cover;
}

.bg-circle-16 {
  background-image: url('/covers/circle/circle-16.svg');
  background-size: cover;
}

.bg-circle-17 {
  background-image: url('/covers/circle/circle-17.svg');
  background-size: cover;
}

.bg-circle-18 {
  background-image: url('/covers/circle/circle-18.svg');
  background-size: cover;
}

.bg-circle-19 {
  background-image: url('/covers/circle/circle-19.svg');
  background-size: cover;
}

.bg-circle-20 {
  background-image: url('/covers/circle/circle-20.svg');
  background-size: cover;
}

.bg-circle-21 {
  background-image: url('/covers/circle/circle-21.svg');
  background-size: cover;
}

.bg-circle-22 {
  background-image: url('/covers/circle/circle-22.svg');
  background-size: cover;
}

.bg-circle-23 {
  background-image: url('/covers/circle/circle-23.svg');
  background-size: cover;
}

.bg-circle-24 {
  background-image: url('/covers/circle/circle-24.svg');
  background-size: cover;
}
