.bg-clouds-1 {
  background-image: url('/covers/clouds/clouds-1.svg');
  background-size: cover;
}

.bg-clouds-2 {
  background-image: url('/covers/clouds/clouds-2.svg');
  background-size: cover;
}

.bg-clouds-3 {
  background-image: url('/covers/clouds/clouds-3.svg');
  background-size: cover;
}

.bg-clouds-4 {
  background-image: url('/covers/clouds/clouds-4.svg');
  background-size: cover;
}

.bg-clouds-5 {
  background-image: url('/covers/clouds/clouds-5.svg');
  background-size: cover;
}

.bg-clouds-6 {
  background-image: url('/covers/clouds/clouds-6.svg');
  background-size: cover;
}

.bg-clouds-7 {
  background-image: url('/covers/clouds/clouds-7.svg');
  background-size: cover;
}

.bg-clouds-8 {
  background-image: url('/covers/clouds/clouds-8.svg');
  background-size: cover;
}

.bg-clouds-9 {
  background-image: url('/covers/clouds/clouds-9.svg');
  background-size: cover;
}
