.bg-cloud-1 {
  background-image: url('/covers/cloud/cloud-1.svg');
  background-size: cover;
}

.bg-cloud-2 {
  background-image: url('/covers/cloud/cloud-2.svg');
  background-size: cover;
}

.bg-cloud-3 {
  background-image: url('/covers/cloud/cloud-3.svg');
  background-size: cover;
}

.bg-cloud-4 {
  background-image: url('/covers/cloud/cloud-4.svg');
  background-size: cover;
}

.bg-cloud-5 {
  background-image: url('/covers/cloud/cloud-5.svg');
  background-size: cover;
}

.bg-cloud-6 {
  background-image: url('/covers/cloud/cloud-6.svg');
  background-size: cover;
}

.bg-cloud-7 {
  background-image: url('/covers/cloud/cloud-7.svg');
  background-size: cover;
}

.bg-cloud-8 {
  background-image: url('/covers/cloud/cloud-8.svg');
  background-size: cover;
}

.bg-cloud-9 {
  background-image: url('/covers/cloud/cloud-9.svg');
  background-size: cover;
}

.bg-cloud-10 {
  background-image: url('/covers/cloud/cloud-10.svg');
  background-size: cover;
}

.bg-cloud-11 {
  background-image: url('/covers/cloud/cloud-11.svg');
  background-size: cover;
}

.bg-cloud-12 {
  background-image: url('/covers/cloud/cloud-12.svg');
  background-size: cover;
}

.bg-cloud-13 {
  background-image: url('/covers/cloud/cloud-13.svg');
  background-size: cover;
}

.bg-cloud-14 {
  background-image: url('/covers/cloud/cloud-14.svg');
  background-size: cover;
}

.bg-cloud-15 {
  background-image: url('/covers/cloud/cloud-15.svg');
  background-size: cover;
}

.bg-cloud-16 {
  background-image: url('/covers/cloud/cloud-16.svg');
  background-size: cover;
}

.bg-cloud-17 {
  background-image: url('/covers/cloud/cloud-17.svg');
  background-size: cover;
}

.bg-cloud-18 {
  background-image: url('/covers/cloud/cloud-18.svg');
  background-size: cover;
}

.bg-cloud-19 {
  background-image: url('/covers/cloud/cloud-19.svg');
  background-size: cover;
}

.bg-cloud-20 {
  background-image: url('/covers/cloud/cloud-20.svg');
  background-size: cover;
}

.bg-cloud-21 {
  background-image: url('/covers/cloud/cloud-21.svg');
  background-size: cover;
}

.bg-cloud-22 {
  background-image: url('/covers/cloud/cloud-22.svg');
  background-size: cover;
}

.bg-cloud-23 {
  background-image: url('/covers/cloud/cloud-23.svg');
  background-size: cover;
}

.bg-cloud-24 {
  background-image: url('/covers/cloud/cloud-24.svg');
  background-size: cover;
}
