.bg-curtain-1 {
  background-image: url('/covers/curtain/curtain-1.svg');
  background-size: cover;
}

.bg-curtain-2 {
  background-image: url('/covers/curtain/curtain-2.svg');
  background-size: cover;
}

.bg-curtain-3 {
  background-image: url('/covers/curtain/curtain-3.svg');
  background-size: cover;
}

.bg-curtain-4 {
  background-image: url('/covers/curtain/curtain-4.svg');
  background-size: cover;
}

.bg-curtain-5 {
  background-image: url('/covers/curtain/curtain-5.svg');
  background-size: cover;
}

.bg-curtain-6 {
  background-image: url('/covers/curtain/curtain-6.svg');
  background-size: cover;
}

.bg-curtain-7 {
  background-image: url('/covers/curtain/curtain-7.svg');
  background-size: cover;
}

.bg-curtain-8 {
  background-image: url('/covers/curtain/curtain-8.svg');
  background-size: cover;
}

.bg-curtain-9 {
  background-image: url('/covers/curtain/curtain-9.svg');
  background-size: cover;
}
