.bg-hexagon-1 {
  background-image: url('/covers/hexagon/hexagon-1.svg');
  background-size: cover;
}

.bg-hexagon-2 {
  background-image: url('/covers/hexagon/hexagon-2.svg');
  background-size: cover;
}

.bg-hexagon-3 {
  background-image: url('/covers/hexagon/hexagon-3.svg');
  background-size: cover;
}

.bg-hexagon-4 {
  background-image: url('/covers/hexagon/hexagon-4.svg');
  background-size: cover;
}

.bg-hexagon-5 {
  background-image: url('/covers/hexagon/hexagon-5.svg');
  background-size: cover;
}

.bg-hexagon-6 {
  background-image: url('/covers/hexagon/hexagon-6.svg');
  background-size: cover;
}

.bg-hexagon-7 {
  background-image: url('/covers/hexagon/hexagon-7.svg');
  background-size: cover;
}

.bg-hexagon-8 {
  background-image: url('/covers/hexagon/hexagon-8.svg');
  background-size: cover;
}

.bg-hexagon-9 {
  background-image: url('/covers/hexagon/hexagon-9.svg');
  background-size: cover;
}

.bg-hexagon-10 {
  background-image: url('/covers/hexagon/hexagon-10.svg');
  background-size: cover;
}

.bg-hexagon-11 {
  background-image: url('/covers/hexagon/hexagon-11.svg');
  background-size: cover;
}

.bg-hexagon-12 {
  background-image: url('/covers/hexagon/hexagon-12.svg');
  background-size: cover;
}

.bg-hexagon-13 {
  background-image: url('/covers/hexagon/hexagon-13.svg');
  background-size: cover;
}

.bg-hexagon-14 {
  background-image: url('/covers/hexagon/hexagon-14.svg');
  background-size: cover;
}

.bg-hexagon-15 {
  background-image: url('/covers/hexagon/hexagon-15.svg');
  background-size: cover;
}

.bg-hexagon-16 {
  background-image: url('/covers/hexagon/hexagon-16.svg');
  background-size: cover;
}

.bg-hexagon-17 {
  background-image: url('/covers/hexagon/hexagon-17.svg');
  background-size: cover;
}

.bg-hexagon-18 {
  background-image: url('/covers/hexagon/hexagon-18.svg');
  background-size: cover;
}

.bg-hexagon-19 {
  background-image: url('/covers/hexagon/hexagon-19.svg');
  background-size: cover;
}

.bg-hexagon-20 {
  background-image: url('/covers/hexagon/hexagon-20.svg');
  background-size: cover;
}

.bg-hexagon-21 {
  background-image: url('/covers/hexagon/hexagon-21.svg');
  background-size: cover;
}

.bg-hexagon-22 {
  background-image: url('/covers/hexagon/hexagon-22.svg');
  background-size: cover;
}

.bg-hexagon-23 {
  background-image: url('/covers/hexagon/hexagon-23.svg');
  background-size: cover;
}

.bg-hexagon-24 {
  background-image: url('/covers/hexagon/hexagon-24.svg');
  background-size: cover;
}
