.bg-leave-1 {
  background-image: url('/covers/leave/leave-1.svg');
  background-size: cover;
}

.bg-leave-2 {
  background-image: url('/covers/leave/leave-2.svg');
  background-size: cover;
}

.bg-leave-3 {
  background-image: url('/covers/leave/leave-3.svg');
  background-size: cover;
}

.bg-leave-4 {
  background-image: url('/covers/leave/leave-4.svg');
  background-size: cover;
}

.bg-leave-5 {
  background-image: url('/covers/leave/leave-5.svg');
  background-size: cover;
}

.bg-leave-6 {
  background-image: url('/covers/leave/leave-6.svg');
  background-size: cover;
}

.bg-leave-7 {
  background-image: url('/covers/leave/leave-7.svg');
  background-size: cover;
}

.bg-leave-8 {
  background-image: url('/covers/leave/leave-8.svg');
  background-size: cover;
}

.bg-leave-9 {
  background-image: url('/covers/leave/leave-9.svg');
  background-size: cover;
}

.bg-leave-10 {
  background-image: url('/covers/leave/leave-10.svg');
  background-size: cover;
}

.bg-leave-11 {
  background-image: url('/covers/leave/leave-11.svg');
  background-size: cover;
}

.bg-leave-12 {
  background-image: url('/covers/leave/leave-12.svg');
  background-size: cover;
}

.bg-leave-13 {
  background-image: url('/covers/leave/leave-13.svg');
  background-size: cover;
}

.bg-leave-14 {
  background-image: url('/covers/leave/leave-14.svg');
  background-size: cover;
}

.bg-leave-15 {
  background-image: url('/covers/leave/leave-15.svg');
  background-size: cover;
}

.bg-leave-16 {
  background-image: url('/covers/leave/leave-16.svg');
  background-size: cover;
}

.bg-leave-17 {
  background-image: url('/covers/leave/leave-17.svg');
  background-size: cover;
}

.bg-leave-18 {
  background-image: url('/covers/leave/leave-18.svg');
  background-size: cover;
}

.bg-leave-19 {
  background-image: url('/covers/leave/leave-19.svg');
  background-size: cover;
}

.bg-leave-20 {
  background-image: url('/covers/leave/leave-20.svg');
  background-size: cover;
}

.bg-leave-21 {
  background-image: url('/covers/leave/leave-21.svg');
  background-size: cover;
}

.bg-leave-22 {
  background-image: url('/covers/leave/leave-22.svg');
  background-size: cover;
}

.bg-leave-23 {
  background-image: url('/covers/leave/leave-23.svg');
  background-size: cover;
}

.bg-leave-24 {
  background-image: url('/covers/leave/leave-24.svg');
  background-size: cover;
}
