.bg-stars-1 {
  background-image: url('/covers/stars/stars-1.svg');
  background-size: cover;
}

.bg-stars-2 {
  background-image: url('/covers/stars/stars-2.svg');
  background-size: cover;
}

.bg-stars-3 {
  background-image: url('/covers/stars/stars-3.svg');
  background-size: cover;
}

.bg-stars-4 {
  background-image: url('/covers/stars/stars-4.svg');
  background-size: cover;
}

.bg-stars-5 {
  background-image: url('/covers/stars/stars-5.svg');
  background-size: cover;
}

.bg-stars-6 {
  background-image: url('/covers/stars/stars-6.svg');
  background-size: cover;
}

.bg-stars-7 {
  background-image: url('/covers/stars/stars-7.svg');
  background-size: cover;
}

.bg-stars-8 {
  background-image: url('/covers/stars/stars-8.svg');
  background-size: cover;
}

.bg-stars-9 {
  background-image: url('/covers/stars/stars-9.svg');
  background-size: cover;
}
