.bg-star-1 {
  background-image: url('/covers/star/star-1.svg');
  background-size: cover;
}

.bg-star-2 {
  background-image: url('/covers/star/star-2.svg');
  background-size: cover;
}

.bg-star-3 {
  background-image: url('/covers/star/star-3.svg');
  background-size: cover;
}

.bg-star-4 {
  background-image: url('/covers/star/star-4.svg');
  background-size: cover;
}

.bg-star-5 {
  background-image: url('/covers/star/star-5.svg');
  background-size: cover;
}

.bg-star-6 {
  background-image: url('/covers/star/star-6.svg');
  background-size: cover;
}

.bg-star-7 {
  background-image: url('/covers/star/star-7.svg');
  background-size: cover;
}

.bg-star-8 {
  background-image: url('/covers/star/star-8.svg');
  background-size: cover;
}

.bg-star-9 {
  background-image: url('/covers/star/star-9.svg');
  background-size: cover;
}

.bg-star-10 {
  background-image: url('/covers/star/star-10.svg');
  background-size: cover;
}

.bg-star-11 {
  background-image: url('/covers/star/star-11.svg');
  background-size: cover;
}

.bg-star-12 {
  background-image: url('/covers/star/star-12.svg');
  background-size: cover;
}

.bg-star-13 {
  background-image: url('/covers/star/star-13.svg');
  background-size: cover;
}

.bg-star-14 {
  background-image: url('/covers/star/star-14.svg');
  background-size: cover;
}

.bg-star-15 {
  background-image: url('/covers/star/star-15.svg');
  background-size: cover;
}

.bg-star-16 {
  background-image: url('/covers/star/star-16.svg');
  background-size: cover;
}

.bg-star-17 {
  background-image: url('/covers/star/star-17.svg');
  background-size: cover;
}

.bg-star-18 {
  background-image: url('/covers/star/star-18.svg');
  background-size: cover;
}

.bg-star-19 {
  background-image: url('/covers/star/star-19.svg');
  background-size: cover;
}

.bg-star-20 {
  background-image: url('/covers/star/star-20.svg');
  background-size: cover;
}

.bg-star-21 {
  background-image: url('/covers/star/star-21.svg');
  background-size: cover;
}

.bg-star-22 {
  background-image: url('/covers/star/star-22.svg');
  background-size: cover;
}

.bg-star-23 {
  background-image: url('/covers/star/star-23.svg');
  background-size: cover;
}

.bg-star-24 {
  background-image: url('/covers/star/star-24.svg');
  background-size: cover;
}
